/* styles for jumbotron, the div box on every page */
#jumbotron {
    background-color: #c1e2b3;
    padding-top: 150px;
    padding-bottom: 70px;
}

/* Green line that is used on every page (except index) */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #449d44;
    border-radius: 5px;
}

/* styles for the highscore table, so that the score and username don't stand so close*/
#hstabel {
    padding-right: 150px;
}